@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

@using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "form-main", @name = "form-main" }))
{
    <div class="text-center">
        Регистрация
    </div>
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Name, "ФИО", htmlAttributes: new { @class = "auth-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Введите имя" })
                    <span class="validation-span">
                        @Html.ValidationMessageFor(model => model.Name)
                    </span>
                </div>
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Email, "Почта", htmlAttributes: new { @class = "auth-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Введите почту" })
                    <span class="validation-span">
                        @Html.ValidationMessageFor(model => model.Email)
                    </span>
                </div>
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Password, "Пароль", htmlAttributes: new { @class = "auth-label" })
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Введите пароль" })
                    <span class="validation-span">
                        @Html.ValidationMessageFor(model => model.Password)
                    </span>
                </div>
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Phone, "Телефон", htmlAttributes: new { @class = "auth-label" })
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Введите телефон" })
                    <span class="validation-span">
                        @Html.ValidationMessageFor(model => model.Phone)
                    </span>
                </div>
                <div class="form-group form-check mt-2">
                    @Html.CheckBoxFor(model => model.IsOrganization, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.IsOrganization, "Юридическое лицо?", htmlAttributes: new { @class = "form-check-label" })
                </div>
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.LicenseNumber, "Лицензия", htmlAttributes: new { @class = "auth-label" })
                    @Html.TextBoxFor(model => model.LicenseNumber, new { @class = "form-control", placeholder = "Введите номер лицензии" })
                    <span class="validation-span">
                        @Html.ValidationMessageFor(model => model.LicenseNumber)
                    </span>
                </div>
                <div id="error-message">
                    <!-- Ошибки общего характера можно сюда -->
                </div>
                <div class="auth-button text-center mt-3">
                    <input type="submit" class="btn btn-primary btn-lg" value="Зарегистрироваться" />
                </div>
                <div class="auth-links text-center mt-3">
                    <a asp-controller="Auth" asp-action="Authenticate" class="btn-link">Есть аккаунт?</a>
                </div>
}