@{
    int CourseId = (int)ViewData["CourseId"];

}
@model List<StudyGroup>


<div class="row">
    <div class="d-flex p-2">
        <button id="addGroupButton" class="btn btn-primary">Добавить Группу</button>
    </div>
</div>

<div class="row" id="studyGroup-content">
    @foreach (StudyGroup studyGroup in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card" id="@studyGroup.Id">
                <div class="card-body">
                    <h5 class="card-title fs-3 fw-bold">Группа №@studyGroup.Id</h5>
                    <p class="card-text">Набор: @studyGroup.Enrollment</p>
                    <p class="card-text">Дни:
                        @{
                            string Days = "";
                            foreach (ScheduleDay scheduleDay in studyGroup.ScheduleDays)
                            {
                                Days += scheduleDay.Name + " ";
                            }

                            if (string.IsNullOrEmpty(Days))
                            {
                                Days = "Дни неопределены";
                            }
                        }
                        @Html.Raw(Days)
                    </p>
                    <p class="card-text">Дата начала обучения: @studyGroup.StartDate.ToShortDateString()</p>
                    <p class="card-text">Цена: @studyGroup.Price BYN</p>
                    <p class="card-text">Длительность: @studyGroup.Duration</p>
                    <p class="card-text">Город: @studyGroup.CityName</p>
                    <p class="card-text">Форма обучения: @studyGroup.FormTraining</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-danger delete-group" data-id="@studyGroup.Id">Удалить</button>
                        <a class="btn btn-primary edit-group" asp-controller="StudyGroupEditor" asp-action="Group"
                            asp-route-GroupId="@studyGroup.Id">Изменить</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script>
    console.log(@CourseId);
    $(document).ready(function () {
    @* $(".edit-group").click(function () {
            var groupId = $(this).data("id");
            $("#enrollment-" + groupId).val($(this).siblings("p").eq(0).text().split(": ")[1]);
            $(this).siblings(".edit-form").toggle();
            }); *@

            $(".save-changes").click(function () {
                var groupId = $(this).data("id");
                var newEnrollment = $("#enrollment-" + groupId).val();

                // Отправка AJAX-запроса для сохранения изменений
                $.ajax({
                    url: "/StudyGroup/Update",
                    method: "POST",
                    data: {
                        groupId: groupId,
                        newEnrollment: newEnrollment
                        // Добавьте другие данные для обновления
                    },
                    success: function (response) {
                        // Обновление данных на странице
                        // Можно обновить только измененные данные или перезагрузить всю страницу
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

        $("#addGroupButton").click(function (e) {
            $.ajax({
                url: `/StudyGroupEditor/New/@CourseId`,
                method: "POST",
                success: function (response) {
                    var newGroupHtml = createGroupElement(response);
                    $("#studyGroup-content").append(newGroupHtml);

                    Message("Успех!", "Новая группа добавлена!");
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });


        $(document).on("click", ".delete-group", function (e) {
            var groupId = $(this).data("id");
            $.ajax({
                url: `/StudyGroupEditor/Delete/${groupId}`,
                method: "Delete",
                success: function (response) {
                    $("#" + groupId).hide();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

    });


    function formatDate(dateString) {
        // Преобразуем строку даты в объект Date
        var date = new Date(dateString);

        // Получаем компоненты даты
        var day = date.getDate();
        var month = date.getMonth() + 1; // Месяц начинается с 0
        var year = date.getFullYear();

        // Формируем строку с днем, месяцем и годом в нужном формате
        return (day < 10 ? '0' : '') + day + '.' + (month < 10 ? '0' : '') + month + '.' + year;
    }



    function createGroupElement(group) {
        return `
        <div class="col-md-4 mb-3">
            <div class="card" id="${group.id}">
                <div class="card-body">
                    <h5 class="card-title fs-3 fw-bold">Группа №${group.id}</h5>
                    <p class="card-text">Набор: ${group.enrollment}</p>
                    <p class="card-text">Дни: ${group.days ? group.days : 'Дни неопределены'}</p>
                    <p class="card-text">Дата начала обучения: ${formatDate(group.startDate)}</p>
                    <p class="card-text">Цена: ${group.price} BYN</p>
                    <p class="card-text">Длительность: ${group.duration}</p>
                    <p class="card-text">Город: ${group.cityName}</p>
                    <p class="card-text">Форма обучения: ${group.formTraining}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-danger delete-group" data-id="${group.id}">Удалить</button>
                        <a class="btn btn-primary edit-group" href="/StudyGroupEditor/Group/${group.id}">Изменить</a>
                    </div>
                </div>
            </div>
        </div>
    `;
    }




</script>

