@{
    List<Specialization> specializations = ViewData["Specializations"] as List<Specialization>;
    @* UserProfileInfo user = ViewData["User"] as UserProfileInfo; *@

}
@model UpdateUserProfileModel

<style>
    .validation-span {
        color: red;
        font-size: 12px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a type="button" asp-action="Main" asp-controller="СontrolPanel" class="btn btn-secondary mb-3">Назад</a>
            @using (Html.BeginForm("EditProfile", "СontrolPanel", FormMethod.Post, new { @class = "form-main",  id = "editformprofile" }))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.name, "Имя", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                    <span class="validation-span"> @Html.ValidationMessageFor(model => model.name) </span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.aboutMe, "Описание", new { @class = "form-label" })
                    @Html.TextAreaFor(model => model.aboutMe, new { @class = "form-control", rows = "3" })
                    <span class="validation-span"> @Html.ValidationMessageFor(model => model.aboutMe) </span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.specializationId, "Сфера деятельности", new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.specializationId, new SelectList(specializations, "Id", "Name"),
                             "Выберите специализацию", new { @class = "form-control" })
                    <span class="validation-span"> @Html.ValidationMessageFor(model => model.specializationId) </span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, "Почта", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                    <span class="validation-span"> @Html.ValidationMessageFor(model => model.email) </span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.phone, "Телефон", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
                    <span class="validation-span"> @Html.ValidationMessageFor(model => model.phone) </span>
                </div>

                <button type="submit" class="btn btn-primary mt-2">Изменить</button>
            }
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $('#editformprofile').submit(function (event) {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию

        var formData = $(this).serialize(); // Получаем данные формы в формате строки

        $.ajax({
            url: "/СontrolPanel/EditProfile", // Адрес для отправки запроса
            method: "POST", // Метод запроса
            data: formData, // Данные для отправки
            success: function (response) { // Обработка успешного ответа
                // Проверка наличия ошибок
                if (response.success) {
                    // Если ошибок нет, выводим сообщение об успешном обновлении
                    Message("Успех!", "Профиль успешно обновлена!");
                } else {
                    // Если есть ошибки, выводим их
                    var errorMessage = "Произошла ошибка при обновлении профиля:\n";
                    for (var key in response.errors) {
                        errorMessage += response.errors[key].join('\n');
                    }
                    Message("Ошибка!", errorMessage);
                }
            },
            error: function (xhr, status, error) { // Обработка ошибки
                console.error("Произошла ошибка:", error);
                Message("Ошибка!", "Произошла ошибка при обновлении профиля. Пожалуйста, попробуйте снова.");
            }
        });
    });


</script>