@model UpdateUserProfileModel
@{
    UserProfileInfo user = ViewData["User"] as UserProfileInfo;
}

<style>
    .profile-info {
        gap: 10px;
        font-size: 0.9em;
    }

    .image-profile {
        max-width: 100%;
        width: 250px;
        height: auto;
        min-width: 80px;
    }

    @@media(max - width: 768px) {
        .profile-info  {
            text-align: center;
        }

        .image-profile {
            width: 150px;
        }
    }

    @@media(max - width: 356px) {
        .profile-info {
            gap: 5px;
            font-size: 0.2em;
        }
    }
</style>



<div class="container">
    <div class="row bg-light">
        <div class="col fs-3 p-2 fw-bold">
            @user.Name <spam class="btn-idit">
        </div>
    </div>
    <div class="row bg-light mt-2">
        <div class="p-2">
            <a asp-action="EditProfile" asp-controller="СontrolPanel" class="btn btn-warning">Редактировать</a>
        </div>
    </div>
    <div class="row profile-info mt-2">
        <div class="col bg-light">
            <div class="bg-light text-center p-3">
                @if (string.IsNullOrEmpty(user.ProfileImage))
                {
                    <img class="image-profile rounded-circle" src="~/images/ImageProfiles/profile.jpg"
                        alt="Изображение профиля">
                }
                else
                {
                    <img class="image-profile rounded-circle"
                        src="~/images/ImageProfiles/@(string.IsNullOrEmpty(user.ProfileImage) ? "default" : user.ProfileImage).png"
                        alt="Изображение профиля">
                }
            </div>
        </div>
        <div class="col bg-light">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td>@user.Email</td>
                    </tr>
                    <tr>
                        <th scope="row">Телефон</th>
                        <td>@user.Phone</td>
                    </tr>
                    <tr>
                        <th scope="row">Сфера деятельности</th>
                        <td>
                            @if (string.IsNullOrEmpty(user.Specialization))
                            {
                                <text>Не определена</text>
                            }
                            else
                            {
                                <text>@user.Specialization</text>
                            }


                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Лицензия</th>
                        <td>@user.LicenseNumber</td>
                    </tr>
                    <tr>
                        <th scope="row">Статус</th>
                        <td>
                            @if (user.Confirmation)
                            {
                                <span>Подвержден</span>
                            }
                            else
                            {
                                <span>Нет подверждения</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Дата регистрации</th>
                        <td>@user.AccountCreatedAt</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="row mt-2 bg-light p-2">
        <div class="col">
            <div class="fs-5 fw-bold mb-2">Описание</div>
            <div>
                @if (string.IsNullOrEmpty(user.AboutMe))
                {
                    <text>Нет описания</text>
                }
                else
                {
                    <text>@user.AboutMe</text>
                }
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>




<script src="~/js/СontrolPanel/Profile.js"></script>
