@{
    List<Specialization> specializations = ViewData["Specializations"] as List<Specialization>;
}
@model UserProfileInfo

<style>
    .profile-info {
        gap: 10px;
        font-size: 0.9em;
    }

    .image-profile {
        max-width: 100%;
        width: 250px;
        height: auto;
    }

    @@media(max - width: 768px) {
        .profile-info .col-12 {
            text-align: center;
        }

        .image-profile {
            width: 150px;
        }
    }

    @@media(max - width: 356px) {
        .profile-info {
            gap: 5px;
            font-size: 0.2em;
        }
    }
</style>



<div class="container">
    <div class="row bg-light">
        <div class="col fs-3 p-2 fw-bold">
            @Model.Name <spam class="btn-idit"><i class="bi bi-pencil-square"></i></spam>
        </div>
    </div>
    <div class="row profile-info mt-2">
        <div class="col-12 bg-light">
            <div class="bg-light text-center p-3">
                @if (string.IsNullOrEmpty(Model.ProfileImage))
                {
                    <img class="image-profile rounded-circle" src="~/images/ImageProfiles/profile.jpg"
                        alt="Изображение профиля">
                }
                else
                {
                    <img class="image-profile rounded-circle"
                        src="~/images/ImageProfiles/@(string.IsNullOrEmpty(Model.ProfileImage) ? "default" : Model.ProfileImage).png"
                        alt="Изображение профиля">
                }
            </div>
        </div>
        <div class="col bg-light">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th scope="row">Телефон</th>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <th scope="row">Сфера деятельности</th>
                        <td>@Model.Specialization</td>
                    </tr>
                    <tr>
                        <th scope="row">Лицензия</th>
                        <td>@Model.LicenseNumber</td>
                    </tr>
                    <tr>
                        <th scope="row">Статус</th>
                        <td>
                            @if (Model.Confirmation)
                            {
                                <span>Подвержден</span>
                            }
                            else
                            {
                                <span>Нет подверждения</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Дата регистрации</th>
                        <td>@Model.AccountCreatedAt</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="row mt-2 bg-light p-2">
        <div class="col">
            <div class="fs-5 fw-bold mb-2">Описание</div>
            <div>@Model.AboutMe</div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>




<script src="~/js/СontrolPanel/Profile.js"></script>
