@{
    List<Specialization> specializations = ViewData["Specializations"] as List<Specialization>;
}
@model UserProfileInfo


<div class="row mt-2">
    <div class="col-2 col-image-profile">
        @if (string.IsNullOrEmpty(Model.ProfileImage))
        {
            <img class="image-profile" src="~/images/ImageProfiles/default.png" alt="Изображение профиля">
        }
        else
        {
            <img class="image-profile"
                src="~/images/ImageProfiles/@(string.IsNullOrEmpty(Model.ProfileImage) ? "default" : Model.ProfileImage).png"
                alt="Изображение профиля">

        }

    </div>
    <div class="col-8">
        <div class="d-flex flex-column mb-3">
            <div class="p-2">
                <span>Имя:</span>
                <span id="name">@Model.Name</span>


                <input type="text" class="form-control edit-input" id="nameInput" value="@Model.Name"
                    style="display: none;">
            </div>
            <div class="p-2">
                <span>Статус аккаунта:</span>
                @if (Model.Confirmation)
                {
                    <span id="name">Подвержден</span>
                }
                else
                {
                    <span id="name">Не подвержден</span>
                }
            </div>
            <div class="p-2">
                <span>О себе:</span>
                @if (string.IsNullOrEmpty(Model.AboutMe))
                {
                    <span id="aboutMeDesc">Нет данных</span>
                }
                else
                {
                    <span id="aboutMe">@Model.AboutMe</span>
                }
                <input type="text" class="form-control edit-input" id="aboutMeInput" value="@Model.AboutMe"
                    style="display: none;">
            </div>
            <div class="p-2">
                <span>Специализация:</span>
                @if (string.IsNullOrEmpty(Model.Specialization))
                {
                    <span id="specializationDesc">Нет данных</span>
                }
                else
                {
                    <span id="specialization">@Model.Specialization</span>
                }
                <select class="form-control edit-input" id="specializationInput" style="display: none;">
                    @foreach (var specialization in specializations)
                    {
                        if (Model.SpecializationId == specialization.Id)
                        {
                            <option value="@specialization.Id" selected)>@specialization.Name</option>
                        }
                        else
                        {
                            <option value="@specialization.Id">@specialization.Name</option>
                        }

                    }
                </select>
            </div>
            <div class="p-2">
                <span>Дата создания:</span>
                <span>@Model.AccountCreatedAt</span>
            </div>
            <div class="p-2">
                <button id="editButton" class="btn btn-primary">Редактировать</button>
                <button id="saveButton" class="btn btn-success" style="display: none;">Сохранить</button>
                <button id="cancelButton" class="btn btn-secondary" style="display: none;">Закрыть</button>
            </div>
        </div>
    </div>
</div>





<style>
    .image-profile {
        max-width: 100%;
        /* Устанавливаем максимальную ширину изображения равной ширине родительского контейнера */
        height: auto;
        /* Автоматически подстраиваем высоту изображения */
    }


    .col-image-profile {
        min-width: 60px;
    }
</style>
<script src="~/js/СontrolPanel/Profile.js"></script>
