@{
    List<StudyGroup> studyGroups = ViewData["studyGroups"] as List<StudyGroup>;
    UserProfileInfo userProfileInfo = ViewData["userProfileInfo"] as UserProfileInfo;
    List<ProgramCourse> programs = ViewData["program"] as List<ProgramCourse>;
    Course course = ViewData["Course"] as Course;
    bool isAdmin = User.IsInRole("admin");
    bool isBannedCourse = (bool)ViewData["isBannedCourse"];
}
@model ContactFormModel




<div class="container">
    <div class="row mt-2">
        <div class="col">
            <a asp-action="Search" asp-controller="Home" class="">
                назад </a>
            <div>
                <h1 class="fs-1 fw-bold">@course.CourseName</h1>
            </div>
            <div class="mb-5">@course.SectionName</div>

            @if (isAdmin)
            {

                if (isBannedCourse)
                {
                    <button class="btn btn-success" data-toggle="modal" data-target="#unbanModal">Разблокировать</button>
                }
                else
                {
                    <button class="btn btn-danger" data-toggle="modal" data-target="#banModal">Заблокировать</button>
                }
            }
            <p class="fs-5 fw-bold">Описание</p>
            <p class="">@course.CourseDescription</p>
        </div>
    </div>

    <div class="row mt-5">
        <!-- Учебные группы -->
        <div class="col">
            <p class="fs-5 fw-bold">Учебные группы</p>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3"> <!-- Adjust number of columns as needed -->
                @foreach (StudyGroup group in studyGroups)
                {
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Учебная группа</h5>
                                <p class="card-text">
                                    Дни: @(group.ScheduleDays == null || !group.ScheduleDays.Any() ? "Дни неопределены" :
                                   string.Join(", ", group.ScheduleDays.Select(day => day.Name)))
                                </p>
                                <p class="card-text">Набор: @group.AcceptedApplicationsCount / @group.Enrollment</p>
                                <p class="card-text">Дата начала: @group.StartDate.ToShortDateString()</p>
                                <p class="card-text">Цена: @group.Price BYN</p>
                                <p class="card-text">Форма: @group.FormTraining</p>
                                <p class="card-text">Количество часов: @group.Duration</p>
                                <p class="card-text">Город: @group.CityName</p>
                                <!-- Добавьте другие поля для описания учебной группы -->
                                @if (group.AcceptedApplicationsCount >= group.Enrollment)
                                {
                                    <button class="btn btn-primary btn-record trigger-modal" data-id="@group.Id"
                                        data-toggle="modal" data-target="#contactModal" disabled>Нет мест</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-record trigger-modal" data-id="@group.Id"
                                        data-toggle="modal" data-target="#contactModal">Записаться</button>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (programs.Count > 0)
    {
        <div class="row mt-5 align-items-center">
            <div class="col">
                <h2 class="fs-5 fw-bold text-center">Программы</h2>
                <div class="d-flex justify-content-center">
                    <div class="accordion w-100" id="accordionPanelsStayOpenExample">
                        @foreach (var program in programs)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-@program.Id" aria-expanded="true"
                                        aria-controls="panelsStayOpen-@program.Id">
                                        @program.Name
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-@program.Id" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        @program.Description
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <!-- 1 блок: Описание курса -->
        <div class="col">
            <div class="row mt-5">
                <div class="col-md-11">
                    <p class="fs-5 fw-bold">Создатель курса</p>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-auto">
                            <img src="~/images/ImageProfiles/profile.jpg" style="width: 250px;">
                        </div>
                        <div class="col" style="min-width: 300px;">
                            <p>Имя: @userProfileInfo.Name</p>
                            <p class="">О себе:
                                @if (string.IsNullOrEmpty(userProfileInfo.AboutMe))
                                {

                                    <text>Нет описания</text>
                                }
                                else
                                {

                                    @userProfileInfo.AboutMe
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




<!-- Модальное окно -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Контактные данные</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateApplication" method="post" id="contactForm">

                    <input type="hidden" asp-for="IdStudyGroup" />
                    <div class="form-group">
                        <label asp-for="FirstName">Имя</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">Фамилия</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName">Отчество</label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Телефон</label>
                        <input asp-for="Phone" class="form-control" />
                        <small class="form-text text-muted">Формат: +375 (XX) XXX-XX-XX</small>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dob">Дата рождения</label>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Почта</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="Agreement" class="form-check-input" id="agreementCheckbox" />
                        <label asp-for="Agreement" class="form-check-label">Согласие на обработку данных</label>
                        <span asp-validation-for="Agreement" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span id="generalErrors" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Записаться</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="banModal" tabindex="-1" role="dialog" aria-labelledby="banModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="banModalLabel">Блокировка курса</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="banForm">
                    <div class="form-group">
                        <label for="banReason">Причина блокировки</label>
                        <textarea class="form-control" id="banReason" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Заблокировать</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unbanModal" tabindex="-1" role="dialog" aria-labelledby="unbanModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unbanModalLabel">Подтверждение разблокировки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите разблокировать этот курс?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="confirmUnbanButton">Разблокировать</button>
            </div>
        </div>
    </div>
</div>


<style>
    .error-message {
        color: red;
        font-size: 0.875em;
    }

    .is-invalid {
        border-color: red;
    }
</style>

<script>

    $('#banForm').on('submit', function (event) {
        event.preventDefault();
        var reason = $('#banReason').val();

        $.ajax({
            url: '/admin/ban-course',
            type: 'POST',
            data: { courseId: @course.CourseId, reason: reason },
            success: function (response) {
                $('.modal-backdrop').remove();
                $('#banModal').removeClass('show').hide();
                $('body').removeClass('modal-open');
                // Логика обновления интерфейса после блокировки курса
                var button = $('[data-target="#banModal"]');
                button.removeClass('btn-danger').addClass('btn-success').text('Разблокировать');
                button.attr('data-target', '#unbanModal');
            },
            error: function (xhr, status, error) {

            }
        });
        $('#banModal').modal('hide');
        $('.modal-backdrop').remove();
    });

    $('#confirmUnbanButton').click(function () {
        var CourseId = @course.CourseId

            $.ajax({
                url: '/admin/unban-course',
                type: 'POST',
                data: { CourseId: CourseId },
                success: function (response) {
                    $('#unbanModal').removeClass('show').hide();
                    $('.modal-backdrop').remove();
                    $('body').removeClass('modal-open');

                    var button = $('[data-target="#unbanModal"]');
                    button.removeClass('btn-success').addClass('btn-danger').text('Заблокировать');
                    button.attr('data-target', '#banModal');
                    // Логика обновления интерфейса после разблокировки курса
                },
                error: function (xhr, status, error) {
                    alert('Ошибка при отправке запроса: ' + error);
                }
            });
        $('#unbanModal').modal('hide');
        $('.modal-backdrop').remove();
    });


    var triggeringButton; // Глобальная переменная для хранения кнопки, вызвавшей модальное окно

    $('#contactModal').on('show.bs.modal', function (event) {
        triggeringButton = $(event.relatedTarget); // Сохраняем ссылку на кнопку, вызвавшую модальное окно
        $("#IdStudyGroup").val(triggeringButton.data("id"));
    });


    $(document).ready(function () {
        $('#agreementCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('#submitButton').prop('disabled', false);
            } else {
                $('#submitButton').prop('disabled', true);
            }
        });

        // Инициализация состояния кнопки при загрузке страницы
        if (!$('#agreementCheckbox').is(':checked')) {
            $('#submitButton').prop('disabled', true);
        }

        $('#contactForm').submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting via the browser
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateApplication", "Home")',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        // Handle success (e.g., redirect or show a success message)
                        $('#contactModal').modal('hide');
                        $('#contactModal').removeClass('show');
                        $('body').removeClass('modal-open'); // Удаление класса 'modal-open' из <body>
                        $('.modal-backdrop').remove(); // Удаление фона модального окна

                        Message("Успех!", "Вы отправили заявку на курс");
                        $('.text-danger').html('');
                    } else {
                        // Handle errors
                        $('.text-danger').html(''); // Clear previous errors
                        response.errors.forEach(function (error) {
                            $('#generalErrors').append('<div>' + error + '</div>');
                        });
                    }
                }
            });
        });


    });


</script>