@model ProfileModel


<div class="profile">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person"
            viewBox="0 0 16 16">
            <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        </svg>
    </div>
    <div>
        <form method="POST">
            <div class="profile__title info-profile">
                @Model.Name <i class="bi bi-pencil-square event-profile"></i>
            </div>
            <div class="profile__title input-profile">
                <input name="" type="text">
            </div>
            <div class="profile__row">
                <div class="profile__col">О себе</div>
                <div class="profile__col info-profile">@Model.AboutMe </div>
                <div class="profile__col input-profile">
                    <input name="" type="text">
                </div>
            </div>
            <div class="profile__row">
                <div class="profile__col">Специальность</div>
                <div class="profile__col info-profile">@Model.Specialization </div>
                <div class="profile__col input-profile">
                    <input name="" type="text">
                </div>
            </div>
            <div class="profile__row">
                <div class="profile__col">Дата создания</div>
                <div class="profile__col">@Model.CreatedAt </div>
            </div>
            <div class="profile__row">
                <div class="profile__col">Статус аккаунта</div>
                <div class="profile__col">@Model.Confirmation </div>
            </div>
            <div class="input-profile">
                <input id="change-profile" type="button" value="изменить">
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Обработчик события клика по кнопке "изменить"
        $('#change-profile').click(function () {
            $('.info-profile').show(); // Показываем блоки с информацией
            $('.input-profile').hide(); // Скрываем поля ввода
        });

        // Обработчик события клика по иконке "карандаш"
        $('.event-profile').click(function () {
            $('.info-profile').hide(); // Скрываем блоки с информацией
            $('.input-profile').show(); // Показываем поля ввода
        });
    });
</script>